.login-form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.student-input {
  width: 250px;
}

.student-select {
  width: 250px;
}

.input-button-container,
.select-button-container {
  display: flex;
  gap: 10px;
}

